# Python as a Calculator

Blank notebook to be used for class exercises.

Name: Collin Real

abc123: yhi267

## Exercise 1

Change Hello to Goodbye, then run the cell.

In [50]:
print("Hello World!")

Hello World!

## Exercise 2
In the cell below, calculate the following expressions (cast to integers using int()):

| a | b|
----|---- |
| 12 + 4  | 12 + 5 |
| 12 -4   | 12 - 5 |
| 12 $\times$ 4 | 12 $\times$ 5 |
| 12 $\div$ 4 | 12 $\div$ 5|
| $12^4$ | $12^5$ |

Which is wrong?

In [51]:
# This is  a comment. Make sure you wrap all the expressions like the example below.
# Also, create a new cell for each expression (i.e., press the + button in Jupyter Lab)
int(12 + 4) # I have done the first one for you. You can create new cells for the others.

16

In [52]:
int(12 + 5)

17

In [53]:
int(12 - 4)

8

In [54]:
int(12 - 5)

7

In [55]:
int(12 * 4)

48

In [56]:
int(12 * 5)

60

In [57]:
int(12 / 4)

3

In [58]:
int(12 / 5)

2

In [59]:
12 ** 4

20736

In [60]:
12 ** 5

248832

## Exercise 3

In a cell for each item, alculate the following expressions one at a time:

1. 12.0 + 4.0
2. 12.0 $\div$ 4.0
3. $25.0^{0.5}$
4. $5.0^{-1.0}$
5. 5.0 $\div$ 2

In [61]:
12.0 + 4.0

16.0

In [62]:
12.0 / 4.0

3.0

In [63]:
25.0 ** 0.5

5.0

In [64]:
5.0 ** -1.0

0.2

In [65]:
5 / 2

2.5

## Exercise 4

First, predict what the python result will be. Next, in the cell below, calculate the following expressions one at a time:

1. 'Hello, ' + "world!"
2. 'Hello!' * 3
3. '' * 10000000000 # two adjacent single quotes
4. '4' + '2'

In [66]:
# 'Hello, world!'
'Hello, ' + "world!"

'Hello, world!'

In [67]:
# 'Hello!Hello!Hello!'
'Hello!' * 3

'Hello!Hello!Hello!'

In [68]:
# ''
'' * 10000000000

''

In [69]:
# '42'
'4' + '2'

'42'

## Exercise 5

Predict whether Python will print True or False before you type the following expressions.

1. 1 > 2 or 2 > 1
2. 1 > 2 or not 2 > 1
3. not True
4. 1 > 2 or True

In [70]:
# False or True -> True
1 > 2 or 2 > 1

True

In [71]:
# False of not True -> False or False -> False
1 > 2 or not 2 > 1

False

In [72]:
# False
not True

False

In [73]:
# True
False or True

True

## Exercise 6

Write the if, elif, else statements to process a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0, print the grade using the following table:

| Score | Grade |
| ----- | ----- |
| $\geq$ 0.9 | A |
| $\geq$ 0.8 | B |
| $\geq$ 0.7 | C |
| $\geq$ 0.6 | D |
| $<$ 0.6 | F |

In [74]:
score = -1

In [75]:
if score >= 0.9 and score <= 1.0:
    print("A")
elif score >= 0.8 and score < 0.9:
    print("B")
elif score >= 0.7 and score < 0.8:
    print("C")
elif score >= 0.6 and score < 0.7:
    print("D")
elif score >= 0 and score < 0.6:
    print("F")
else:
    print('ERROR')

ERROR

In [76]:
if score < 0 or score > 1.0:
    print('ERROR')
elif score >= 0.9:
    print("A")
elif score >= 0.8:
    print("B")
elif score >= 0.7:
    print("C")
elif score >= 0.6:
    print("D")
else:
    print("F")

ERROR